.container {
  padding: 2rem;
}

.header {
  position: relative;
  margin-bottom: 40px;
}

.bannerImage {
  max-width: 78rem;
  height: 370px;
  object-fit: cover;
  border-radius: 8px;
}

.headerContent {
  position: absolute;
  bottom: 0px;
  right: 50px;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 449px;
  height: 232px;
  border-radius: 20px;
}

.eventTitle {
  margin-bottom: 8px;
  font-size: 28px;
  font-weight: 700;
  color: #025a3a;
}

.eventtime {
  justify-content: space-around;
  width: 100%;
  margin-top: 10px;
}

.eventdate {
  font-size: 20px;
  font-weight: 700;
  color: #025a3a;
}

.eventBTN {
  margin-top: 20px;
}

.registerButton {
  background-color: #025a3a;
  color: #fff;
}

.registerButton:hover {
  background-color: #025a3a;
  color: #fff;
}

.shareButton {
  border-color: #025a3a;
  color: #025a3a;
}

.detailsTitle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.QRImage{
  width: 200px;
  height: 200px;
}

.desSection{
  justify-content: space-between;
  
}

.descriptionSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #F94A07; */
  width: 40%;
}

.detailsHeader {
  font-size: 1.5rem;
  font-weight: bold;
}

.detailsDescription {
  font-size: 1rem;
  margin-top: 0.5rem;
  width: 50%;
}

.actionGroup {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.backButton {
  background-color: #F94A07;
  color: #fff;
}

.countdownTimer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  flex-direction: column;
}

.timeBlock {
  text-align: center;
  padding: 0.5rem;
}

.timeValue {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.timeLabel {
  font-size: 0.75rem;
  color: #666;
}

.colon {
  font-size: 2rem;
  font-weight: bold;
  margin: 0 0.5rem;
}

.countdownSection {
  margin-left: 2rem;
}

.countdownHeader {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

