.sidebar {
  width: 250px;
  height: 88vh;
  background: #ffffff;
  color: #2e3034;
  position: fixed;
  top: 84px;
  left: 0;
  box-shadow: 6px 4px 10px 0px rgba(0, 0, 0, 0.8);
  overflow-y: auto;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.bottomMenu {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: auto;
  margin-bottom: 40px;
}

.menu li,
.bottomMenu li {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background 1.5s;
  width: 100%;
  padding-top: 20px;
}

.menu li a svg,
.bottomMenu li a svg {
  margin-right: 10px;
}

.menu li .link,
.bottomMenu li .link {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
  width: 100%;
  padding: 10px;
}

.menu li:hover .link,
.bottomMenu li:hover .link {
  background: #025a3a;
  color: #fff;
}

.active .link {
  background: #c48001e1;
  color: #fff;
}

.active .link svg {
  color: #fff;
}

.logout .link {
  color: red;
}

.label{
      margin-left: 10px;
}

.logout li a {
  color: red;
}

/* Responsive styles */
@media (max-width: 768px) {
  .sidebar {
    width: 200px;
  }
  .mainContent {
    margin-left: 200px;
  }
}

@media (max-width: 480px) {
  .sidebar {
    position: fixed;
    width: 100%;
    height: auto;
    bottom: 0;
    top: auto;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    box-shadow: none;
  }

  .menu,
  .bottomMenu {
    flex-direction: row;
    height: auto;
  }

  .menu li,
  .bottomMenu li {
    padding: 10px 5px;
  }

  .logout {
    margin-top: 0;
  }

  .mainContent {
    margin-left: 0;
    margin-bottom: 60px;
  }
}
