.navStark {
  margin-bottom: 80px;
}

.container {
  text-align: center;
  padding: 2rem;
}

.goBack {
  display: block;
  text-decoration: none;
  color: #333;
  margin-bottom: 10px;
  text-align: left;
  color: red;
}

.titlePage {
  margin-bottom: 30px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin: auto;
}

.subtitle {
  font-size: 14px;
  color: #666;
  margin-top: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
  margin-bottom: 20px;
}

.createButton {
  background-color: #025a3a;
  color: white;
  padding: 10px 40px;
  border-radius: 46px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  margin-top: 30px;
}

.createButton:hover {
  background-color: #025a3a;
}
