.searchContainer {
  display: flex;
  align-items: center;
  width: 40%;
}

.searchInputWrapper {
  position: relative;
  width: 100%;
}

.searchInput {
  width: 100%;
  border-radius: 8px;
  background-color: whitesmoke;
  height: 33px;
  padding-left: 10px;
  padding-right: 40px;
  border: none;
  box-sizing: border-box;
}

.searchIcon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #666;
  pointer-events: none;
}
