.container {
  padding: 1rem;
}

.header {
  position: relative;
  margin-bottom: 40px;
}

.bannerImage {
  max-width: 78rem;
  height: 370px;
  object-fit: cover;
  border-radius: 8px;
}

.info {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 20px;
  border-radius: 20px 20px 0 0;
  width: 25.56rem;
  height: 10.75rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.infoTitle {
  margin: 0;
  margin-top: 8px;
}

.shareBtn {
  background: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 16px;
}
.detailsTitle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.QRImage {
  width: 200px;
  height: 200px;
}

.desSection {
  justify-content: space-between;
}

.descriptionSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.detailsHeader {
  font-size: 1.5rem;
  font-weight: bold;
}

.detailsDescription {
  font-size: 1rem;
  margin-top: 0.5rem;
  width: 50%;
}

.inviteDes {
  width: 32.31rem;
  height: 90px;
}

.inviteText {
  font-size: 24px;
  font-weight: 700;
}

.inviteText1 {
  font-size: 16px;
  font-weight: 400;
  color: #0b101b;
}

.actionGroup {
  display: flex;
  justify-content: center;
  margin-top: 8rem;
}

.backButton {
  width: 208px;
  height: 40px;
  background: #e7af3f;

  border-radius: 33px;
}

.backButton:hover {
  background: #e7af3f;
}

.timeLabel {
  font-size: 0.75rem;
  color: #666;
}

.colon {
  font-size: 2rem;
  font-weight: bold;
  margin: 0 0.5rem;
}

.countdownSection {
  margin-left: 2rem;
}

.countdownHeader {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
