.exportBtn {
  background-color: #025a3a;
  color: #ffffff;
  width: 12.125rem;
  height: 2.75rem;
  padding: 12px 36px;
  gap: 8px;
  border-radius: 46px;
  border: none;
  border: 1px #025a3a solid;
  font-size: 14px;
  cursor: pointer;
}

.exportBtn {
  background-color: #025a3a;
  color: #ffffff;
}
