.container {
  padding: 20px;
  width: 66.5rem;
}

.createBtn {
  display: flex;
  justify-content: end;
}

.inputIMGcard {
  padding-top: 20px;
  width: 16%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: whitesmoke;
  border-radius: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  height: 100px;
}

.inputIMG {
  border-radius: 10px;
  cursor: pointer;
}

.inputText {
  font-size: 12px;
  font-weight: 20px;
  margin-top: 6px;
  color: #5a5e66;
}

.searchExport {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchBar input {
  padding: 8px;
  margin-right: 10px;
}

.filters {
  display: flex;
  margin-top: 30px;
}

.filterButton {
  background-color: #ff826c;
  color: #ffffff;
  width: 6rem;
  height: 2.9rem;
  border: none;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s, width 0.3s;
}

.activeFilter {
  background-color: #025a3a;
  color: #ffffff;
  width: 12.125rem;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th,
.table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.activeStatus {
  color: green;
  font-weight: bold;
}

.expiredStatus {
  color: red;
  font-weight: bold;
}

.indefiniteStatus {
  color: orange;
  font-weight: bold;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  padding: 5px 10px;
  margin: 0 5px;
  border: none;
  cursor: pointer;
}

.pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.paginaBTN {
  height: 40px;
  background-color: transparent;
  color: #025a3a;
  width: 8.125rem;
  height: 2.75rem;
  gap: 8px;
  border-radius: 46px;
  border: 1px #025a3a solid;
}
