.modalBody {
      padding: 0;
      z-index: 1000;
    }
    
    .modalContainer {
      background-color: #fef9f6;
      padding: 10px 34px;
      border-radius: 12px;
      position: relative;
      z-index: 1000;
    }
    
    .closeButton {
      position: absolute;
      top: 12px;
      right: 12px;
      background: transparent;
      border: none;
      font-size: 18px;
      cursor: pointer;
      color: #333;
    }
    
    .formContainer {
      display: flex;
      flex-direction: column;
      gap: 26px;
    }
    
    .saveButton {
      background-color: #04652f !important;
      color: #ffffff !important;
      border-radius: 8px;
      height: 38px;
      font-weight: 600;
      font-size: 16px;
      margin-top: 10px;
    }
    