/* .stack{
  margin-top: 70px;
} */

/* @media screen and (max-width: 600px) {
  .stack {
    padding: 0;
    width: 20rem;
    background-color: blueviolet;
  }
} */

/* .mainContent {
  padding-top: 80px; 
} */

.navStark{
  margin-bottom: 80px;
}