.navStark {
  margin-bottom: 80px;
}

.container {
  text-align: center;
  padding: 2rem;
  background: #fdf3f0;
  border-radius: 10px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.subtitle {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.progressContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 50%;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stepNumber {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ddd;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.active {
  background: #047857 !important;
  color: white !important;
}

.activeText {
  font-weight: bold;
  color: #047857;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 50%;
  gap: 20px;
  text-align: left;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  width: 90%;
  gap: 20px;
}

.buttonContainer1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.buttonPrevious {
  height: 40px;
  background-color: transparent;
  color: #025a3a;
  width: 14.125rem;
  height: 2.75rem;
  gap: 8px;
  border-radius: 46px;
  border: 1px #025a3a solid;
}

.buttonPrevious {
  background-color: #025a3a;
  color: #ffffff;
}

.buttonNext {
  height: 40px;
  background-color: transparent;
  color: #025a3a;
  width: 14.125rem;
  height: 2.75rem;
  gap: 8px;
  border-radius: 46px;
  border: 1px #025a3a solid;
}

.buttonNext:hover {
  background-color: transparent;
  color: #025a3a;
}

.buttonSubmit {
  height: 40px;
  background-color: transparent;
  color: #025a3a;
  width: 12.125rem;
  height: 2.75rem;
  padding: 12px 36px;
  gap: 8px;
  border-radius: 46px;
  border: none;
  border: 1px #025a3a solid;
}

.actionMember{
      margin-top: 30px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.table thead tr {
  background-color: #f2f2f2;
}

.deleteButton {
  width: 8.125rem;
  height: 2rem;
  color: #dc2626;
  gap: 8px;
  border-radius: 33px;
  border: 1px #dc2626 solid;
  opacity: 0px;
}

.action1{
      color: #dc2626;
}
