.buttonGroup {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      gap: 20px;
    }
    
    .backButton,
    .submitButton {
      cursor: pointer;
      border: 1px solid #056348;
      color: #025a3a;
      background-color: transparent;
      width: 9.125rem;
      height: 2.75rem;
      padding: 12px 36px;
      gap: 8px;
      border-radius: 46px;
    }
    
    .backButton {
      background-color: #6c757d;
      color: white;
    }
    
    .submitButton {
      background-color: #025a3a;
      color: white;
    }
    
    .submitButton:hover,
    .backButton:hover {
      opacity: 0.9;
    }
    