.summary {
  display: flex;
  gap: 2rem;
  margin-bottom: 20px;
  margin-top: 70px;
  flex-wrap: wrap;
}

.summaryRegular {
  background-color: whitesmoke;
  width: 10rem;
  border-radius: 8px;
  padding: 10px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.summaryText {
  font-size: 16px;
  color: #5a5e66;
}

.summaryNumber {
  font-size: 20px;
  font-weight: 600;
}

.inputIMGcard {
  padding-top: 20px;
  width: 20%;
  min-width: 120px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: whitesmoke;
  border-radius: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  min-height: 100px;
  justify-content: center;
}

.inputIMG {
  border-radius: 10px;
  cursor: pointer;
}

.inputText {
  font-size: 12px;
  font-weight: 20px;
  margin-top: 6px;
  color: #5a5e66;
}

.searchExport{
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 16px;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  .summary {
    gap: 1rem;
    margin-top: 40px;
    justify-content: center;
  }
  .summaryRegular {
    width: 45%;
    flex-grow: 1;
  }
  .inputIMGcard {
    width: 100%;
    margin-bottom: 0px;
  }
}

@media (max-width: 480px) {
  .summaryRegular {
    width: 100%;
  }
  .searchExport {
    flex-direction: column;
    align-items: flex-start;
  }
  .searchExport > * {
    width: 100%;
  }
}