/* .card{
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  padding: 16px; 
  border-radius: 8px; 
  border: 1px solid #ddd; 
  width: 260px; 
  background-color: #fff;
}

.cardTitle{
font-size: 16px;
font-weight: 500;
color: #000000;
} */

/* .cardBtn{
width: 40px;
height: 40px;
padding: 8px 16px;
} */

    /* .lightButton{
      background-color: #ebf8ff;
  color: rgb(164,150,255); 
  border: none; 
  border-radius: 8px; 
  width: 100%;
  margin-top: 16px; 
  padding: 10px 16px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
    }

     */